<footer class="footer mt-5">
    <div class="footer-middle py-4">
        <div class="container">
            <div class="row">
                <div class="text-center">
                    <a href="https://www.instagram.com/pycolmenero/" class="mx-3"><img src="./src/media/instagram.png" width="24px" alt="instagram logo"></a>
                    <a href="https://api.whatsapp.com/send?phone=+34685805742" class="mx-3"><img src="./src/media/whatsapp.png" width="24px" alt="instagram logo"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="inner">
                <div class="row">
                    <div class="col-12">
                        <div class="left">
                            <p>English Ups! - Best page to learn English worldwide</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>