<header class="header">
    <div class="navbar-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <div class="navbar navbar-expand-lg">
                        <a class="navbar-brand logo mt-0 mt-md-5" href="https://englishups.com/">
                            <h class="text-light fs-2">English Ups!</h>
                        </a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="toggler-icon"></span>
                            <span class="toggler-icon"></span>
                            <span class="toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse sub-menu-bar align-items-start" id="navbarSupportedContent">
                            <ul id="nav" class="navbar-nav me-auto">
                                <li class="nav-item ms-0 ms-md-4">
                                    <a class="pb-md-0 page-scroll active" href="https://englishups.com">Home</a>
                                </li>
                                <li class="nav-item ms-0 ms-md-4">
                                    <a class="pb-md-0 page-scroll active" href="https://englishups.com/phrasal-verbs">Phrasal Verbs</a>
                                </li>
                                <li class="nav-item ms-0 ms-md-4">
                                    <a class="pb-md-0 page-scroll" href="https://englishups.com/irregular-verbs">Irregular Verbs</a>
                                </li>
                                <li class="nav-item ms-0 ms-md-4">
                                    <a class="pb-md-0 page-scroll" href="https://englishups.com/alternatives-for-very">Alternatives for very</a>
                                </li>
                                <li class="nav-item ms-0 ms-md-4">
                                    <a class="pb-md-0 page-scroll" href="https://englishups.com/different-ways-to-say">Different ways to say</a>
                                </li>
                                <li class="nav-item ms-0 ms-md-4">
                                    <a class="pb-md-0 page-scroll" href="https://englishups.com/false-friends">False friends</a>
                                </li>
                                <li class="nav-item ms-0 ms-md-4">
                                    <a class="pb-md-0 page-scroll" href="https://englishups.com/double-letters">Double Letters</a>
                                </li>
                                <li class="nav-item ms-0 ms-md-4">
                                    <a class="pb-md-0 page-scroll" href="https://englishups.com/linkers">Linkers</a>
                                </li>
                                <li class="nav-item ms-0 ms-md-4">
                                    <a class="pb-md-0 page-scroll" href="https://englishups.com/grammar">Grammar</a>
                                </li>
                                <li class="nav-item ms-0 ms-md-4">
                                    <a class="pb-md-0 page-scroll" href="https://englishups.com/idioms">Idioms</a>
                                </li>
                                <li class="nav-item dropdown ms-0 ms-md-4">
                                    <a class="pb-0 nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"> 
                                        Exam Tips
                                    </a>
                                    <ul class="dropdown-menu rounded-0 dropdown-menu-end" aria-labelledby="navbarDropdown">
                                        <!-- <li class=""><a class="dropdown-item py-1 px-2 text-dark" href="https://englishups.com/calculator">Calculator</a></li> -->
                                        <li class=""><a class="dropdown-item py-1 px-2 text-dark" href="https://englishups.com/reading-ex2">Cambridge B1/B2/C1 Reading - Ex 2</a></li>
                                        <li class=""><a class="dropdown-item py-1 px-2 text-dark" href="https://englishups.com/reading-ex3">Cambridge B1/B2/C1 Reading - Ex 3</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</header>